framework: net6.0
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget Microsoft.EntityFrameworkCore 6.0.3
nuget Microsoft.EntityFrameworkCore.SqlServer 6.0.3
nuget Microsoft.EntityFrameworkCore.Relational 6.0.3
nuget Microsoft.EntityFrameworkCore.InMemory 6.0.3
nuget Microsoft.EntityFrameworkCore.Design 6.0.3

nuget Npgsql 6.0.3
nuget Npgsql.EntityFrameworkCore.PostgreSQL 6.0.3

nuget Microsoft.Extensions.Logging 6.0.0
nuget Microsoft.Extensions.DependencyInjection 6.0.0
nuget Microsoft.Extensions.Http 6.0.0

nuget Microsoft.Extensions.Configuration 6.0.1
nuget Microsoft.Extensions.Configuration.CommandLine 6.0.0
nuget Microsoft.Extensions.Configuration.FileExtensions 6.0.0
nuget Microsoft.Extensions.Configuration.EnvironmentVariables 6.0.1
nuget Microsoft.Extensions.Configuration.Json 6.0.0

nuget Microsoft.SyndicationFeed.ReaderWriter 1.0.2

nuget SqlStreamStore 1.2.0
nuget SqlStreamStore.MsSql 1.2.0

nuget Autofac.Extensions.DependencyInjection 7.2.0

nuget Polly 7.2.4
nuget CompareNETObjects 4.76.0
nuget Newtonsoft.Json 13.0.1

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 6.0.3

nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore.Autofac 7.1.3
nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore.Microsoft 7.1.3

nuget Be.Vlaanderen.Basisregisters.DependencyInjection 1.0.3

nuget Be.Vlaanderen.Basisregisters.EventHandling 4.2.2
nuget Be.Vlaanderen.Basisregisters.EventHandling.Autofac 4.2.2
nuget Be.Vlaanderen.Basisregisters.EventHandling.Microsoft 4.2.2

nuget Be.Vlaanderen.Basisregisters.EntityFrameworkCore.EntityTypeConfiguration 3.0.0

nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.Sql 5.0.0

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 17.1.0
nuget Microsoft.TestPlatform.ObjectModel 17.1.0
nuget NUnit 3.13.3
nuget NUnit3TestAdapter 4.2.1
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.3
nuget xunit.categories 2.0.6
nuget FluentAssertions 6.5.1
nuget Moq 4.17.2

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
